.profile-layout {
  min-height: 100vh;
}

.profile-sidebar {
  background-color: #003366 !important;
  color: #fff;
}
.profile-logo{
  padding: 16px;
}
.profile-logo a {

  color: #c28812;
  font-size: 28px;
  font-weight: 600;
}

.profile-menu {
  background-color: #003366 !important;
}

.profile-content {
  padding: 34px;
}

.profile-title {
  color: #0b2e4d;
}

.profile-status {
  margin-bottom: 16px;
}

.profile-descriptions .ant-descriptions-item-label {
  color: #ccc;
  font-weight: bold;
}

.edit-icon {
  margin-left: 8px;
  color: #fff;
}
